.leaderboard {
  position: absolute;
  overflow-y: auto;
  top: 65px;
  right: 0;
  width: 300px;
  max-height: 300px;
  background-color: var(--mainDark);
  border-radius: 0 0 0 1em;
  z-index: 2;
}
h2 {
  position: sticky;
  color: white;
  margin: 0 auto;
  text-align: center;
  top: 0;
  background-color: var(--mainDark);
  padding-bottom: 0.5em;
}

.event {
  max-height: 100px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 1em;
  padding: 1em;
  color: white;
}

.event:hover {
  cursor: pointer;
  background-color: var(--mainLightGrey);
}
.event:active {
  background-color: var(--mainDark);
}
