.info-container {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    width: 450px;
    height: 250px;
    background-color: white;
    position: absolute;
    right: 0;
    border: black;
    border-radius: 3px;
}
.close-button {
    height: 100vh;
    width: 5%;
    background-color: black;
    color: white;
    border: 2px solid black;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}
.close-button:hover {
    background-color: gray;
    border: 2px solid gray;
}
.info-title {
    font-size: 25px;
    font-style: oblique;
    padding: 10px;
}

.info-coordinates {
    padding: 5px;
    font-style: italic;
}
.coordinates {
    font-weight: bold;
    font-style: normal;
    display: inline;
}
.info {
    padding: 20px;
}
.date {
    font-weight: bold;
    display: inline;
}
.brightness {
    font-weight: bold;
    display: inline;
}
.frp {
    font-weight: bold;
    display: inline;
}
.info-window {
    width: 250px;
    height: 125px;
    font-size: 15px;
    display: inline;
}
