.info-coordinates {
    padding: 5px;
    font-style: italic;
}
.coordinates {
    font-weight: bold;
    font-style: normal;
    display: inline;
}
.date {
    font-weight: bold;
    display: inline;
}
.brightness {
    font-weight: bold;
    display: inline;
}
.frp {
    font-weight: bold;
    display: inline;
}
.info-window {
    width: 250px;
    height: 125px;
    font-size: 15px;
    display: inline;
}
