.info:hover {
  cursor: pointer;
}
.leaderboardIcon {
  margin-left: 10px;
  margin-right: 10px;
}
.leaderboardIcon:hover {
  cursor: pointer;
}
.nightModeIcon {
  margin-left: 10px;
  margin-right: 10px;
}
.nightModeIcon:hover {
  cursor: pointer;
}
.filterButton {
  margin-left: 10px;
  margin-right: 10px;
}
.filterButton:hover {
  cursor: pointer;
}
.filterButton {
  margin-left: 10px;
}
.filterButton:hover {
  cursor: pointer;
}
