.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    background-color: rgb(192, 45, 26);
    color: #fff;
}

.Button{
    background-color: #444;
    border-radius: 10px;
}