.info:hover {
  cursor: pointer;
}
.leaderboardIcon {
  margin: 10px;
}
.leaderboardIcon:hover {
  cursor: pointer;
}
.nightModeIcon {
  margin: 10px;
}
.nightModeIcon:hover {
  cursor: pointer;
}
.filterButton {
  margin: 10px;
}
.filterButton:hover {
  cursor: pointer;
}
.filterButton {
  margin: 10px;
}
.filterButton:hover {
  cursor: pointer;
}
